:root {
    --problem-font-size: min(16vw, 16vh);
    --control-size: calc(var(--problem-font-size) * 0.25);
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

/* --- Math Problem Box --- */ 

#problem {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 0.3fr 1fr;
    font-size: var(--problem-font-size);

    width: 2.5em;
    margin: auto auto;
    margin-top: 0.25em;
    padding: 0.25em;

    border: solid 1px #888;
}

#upper {
    grid-column: 2;
    grid-row: 1;
    text-align: right;
}

#op {
    grid-column: 1;
    grid-row: 2;
    cursor: pointer;
}

#lower {
    grid-column: 2;
    grid-row: 2;
    text-align: right;
}

#line {
    grid-column: 1 / -1;
    grid-row: 3;

    height: 1px;
    border-top: 0.08em solid black;
}

#answer-box {
    grid-column: 1 / -1;
    grid-row: 4;
}

#answer {
    font-size: var(--problem-font-size);
    text-align: right;
    box-sizing: border-box;
    width: 100%;
}

/* --- Controls --- */

#control-bar {
    border-bottom: 1px solid #888;
    width: 100%;
    padding: 0px 2px;
    
    display: flex;
    flex-direction: row;
}

.center {
    flex-grow: 1;
}

.icon {
    margin-right: 10px;
    display: inline-block;
}

.icon svg {
    width: 40px; /*var(--control-size);*/
    height: 40px; /*var(--control-size);*/
    cursor: pointer;

    /* To get SVG not to be weirdly positioned vertically */
    display: inline-block;

    /* Set 'viewBox="0 0 40 40"' for 40px-intended-size to get runtime scaling */
}

#progress-outer {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100% 100%;
    height: var(--control-size);
    /* border-bottom: 1px solid #888; */
}

#progress {
    width: 100%;
    height: var(--control-size);
    background-repeat: no-repeat;
    background-size: 0%;
    text-align: center;
}

/* --- Overlays --- */
.overlay {
    z-index: 10;
    background-color: rgba(96, 96, 96, 0.9);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.contents {
    width: 75%;
    /*height: 80vh;*/
    border: solid 1px black;
    background-color: white;
    padding: 1em 2em;

    display: flex;
    justify-content: center;
}

.help {
    font-size: 24px;
    white-space: pre-wrap;
}

.contents table {
    border-collapse: collapse;
}

.contents table th, td {
    border: solid 1px #888;
    width: 3em;
    height: 3em;
    
    text-align: center;
}

.contents table th:first-child {
    font-size: 200%;
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
}

.contents table th, td:first-child { 
    color: #888;
}

.good {
    background-image: linear-gradient(90deg, #a1d99b, #74c476);
}

.ok {
    background-image: linear-gradient(90deg, #fdd0a2, #fdae6b);
}

.bad {
    background-image: linear-gradient(90deg, #fc9272, #fb6a4a);
}